@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}

.scriptureCard {
  width: 90%;
  margin: 5%;
}

.scriptureBox {
  padding: 5%;
  background-color: #00a2e8;
  height: 80vh;
  color: white;
  border-radius: 1rem 1rem 0 0;
}

.reference {
  font-size: 40px;
}

.text {
  font-size: 24px;
}
.reference,
.text {
  margin-bottom: 20px;
}

.audioBox {
  padding: 5%;
  width: 90%;
  background-color: #f1f3f4;
  border-radius: 0 0 1rem 1rem;
}

audio {
  width: 100%;
  outline: none;
}
