@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}

.scripture {
  width: 80%;
  margin: 5%;
  padding: 5%;
  background-color: #00a2e8;
  color: white;
  border-radius: 1rem;
}

.reference {
	font-size: 50px;
}

.text {
	font-size: 30px;
}
.reference,
.text {
  margin-bottom: 20px;
}

audio {
  border-radius: 5px;
}
